<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div class="heading">
    <h1> Add Product</h1>
</div>
<div id="container">
    <form action="/product">
        <div>
            Product Name: <input type="text" name="productName"/>
        </div>
        <div>
            Product Description: <textarea name="productDescription"></textarea>
        </div>
        <div>
            Enter Price: <input type="number" name="productPrice"/>
        </div>
        <div>
            <input class="button" type="submit" value="Save"/>
        </div>
    </form>
</div>

</body>
</html>