<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div id="wrapper">
    <h1>Lab 12 Assignment</h1>
    <ul>
        <li>
            <form action="/go-product" name="product">
                <input class="button" type="submit" value="Add Product"/>
            </form>

        </li>
        <li>
            <form action="/go-user" name="user">
                <input class="button" type="submit" value="Add User"/>
            </form>
        </li>
    </ul>
</div>
</body>
</html>